workflows/progress-5-integration.json
{
  "name": "progress-5",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d5c13cb9-d653-4741-9c0a-f358f03680c9",
      "name": "Telegram Trigger",
      "webhookId": "79dc2af0-0ec2-430b-b439-871ac1d5e66a",
      "credentials": {
        "telegramApi": {
          "id": "52YRCPfHBb0kld4l",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.6,
      "position": [
        224,
        0
      ],
      "id": "381ef1cb-8f4c-4075-b1bd-3bb287631116",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        208
      ],
      "id": "af946b79-6ade-42ea-8a4c-73209e034241",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SM7N88EQV6XHbFYL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-project",
          "mode": "list",
          "cachedResultName": "rag-project"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        304,
        400
      ],
      "id": "ee6c55e7-33db-4feb-a602-b1707b3989af",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "32xcahP3y5L3LGfe",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        304,
        208
      ],
      "id": "b2ca832e-f918-4b05-906f-dfbfe885eaec",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        560
      ],
      "id": "95bd1ac5-8f91-45c9-b6b9-d72b2b84dee8",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "1X9MME57wG4dzmuR",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}{{ $json.response }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        0
      ],
      "id": "402717a1-e1a3-4f02-8713-c699e2b4de70",
      "name": "Send a text message",
      "webhookId": "e4e82ac9-3c8e-4706-bc37-94c7c3e068cd",
      "credentials": {
        "telegramApi": {
          "id": "52YRCPfHBb0kld4l",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "038341f2-588f-4c0f-b2d5-6d7707bd496f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e3017cc8b233b41930cd364566b3a02d060049a218f025ca2ca92b97ff5f775"
  },
  "id": "qeYxglS0HjQul6nI",
  "tags": []
}