workflows/workflow-4-integration.json
{
  "name": "workflow-4-integration",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.6,
      "position": [
        560,
        -96
      ],
      "id": "eb8fc67d-1e37-4740-ada9-1f2b26a185a5",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-project",
          "mode": "list",
          "cachedResultName": "rag-project"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        528,
        352
      ],
      "id": "72f67ea4-f6da-49f3-a7a0-7d7dbae1cbd2",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "32xcahP3y5L3LGfe",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        528,
        176
      ],
      "id": "dbf6a648-8be7-4bfe-8bdd-33e3efac8159",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        608,
        528
      ],
      "id": "a6116d90-428f-4a3a-8016-87778edfd639",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "1X9MME57wG4dzmuR",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e2a1ecac-ab01-4b3c-baeb-728fc4b4d4ae",
      "name": "Webhook",
      "webhookId": "dac12d03-8c6c-4f29-9511-d5e6583dbc66"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $json.response } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1056,
        0
      ],
      "id": "1aa9ed5e-a468-4186-8554-7f9d69e8baa1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama-3.1-8b-instant",
          "mode": "list",
          "cachedResultName": "llama-3.1-8b-instant"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        352,
        176
      ],
      "id": "0f343ae0-a10b-40d2-b3d5-ee964a85bd73",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GzCpIDApf8IOLeJh",
          "name": "groq"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66527fea-614b-4cd1-8212-bc82219913cc",
              "name": "query",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "0ca8e528-6dc1-4064-95ef-28a0b8f3de6f",
              "name": "source",
              "value": "telegram",
              "type": "string"
            },
            {
              "id": "5fe5c3b3-23ce-48c9-b62d-411379c868b6",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -192
      ],
      "id": "05240449-0d5d-49df-a623-de70a6aaf3d3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -192
      ],
      "id": "f5b53090-827a-455e-b433-1908807c113a",
      "name": "Telegram Trigger",
      "webhookId": "31f8b4f0-8314-4945-9548-82d149438884",
      "credentials": {
        "telegramApi": {
          "id": "52YRCPfHBb0kld4l",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66527fea-614b-4cd1-8212-bc82219913cc",
              "name": "query",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "0ca8e528-6dc1-4064-95ef-28a0b8f3de6f",
              "name": "source",
              "value": "webapp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "0abde2e9-31a4-4e8c-a07e-4951643885ae",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        384,
        -96
      ],
      "id": "ccf6d045-eb7b-430b-9865-1f6dffbd33de",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b35db46-d1ae-48e8-97a7-ed389b9710dc",
              "leftValue": "={{ $('Merge').item.json.source }}",
              "rightValue": "=telegram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        -96
      ],
      "id": "e08135df-d229-4135-975e-a5c37e4b8c0f",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.response }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "="
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        -192
      ],
      "id": "59f0b0f9-351f-4c8a-a8da-67efa8842957",
      "name": "Send a text message",
      "webhookId": "cd334bb6-0313-4d5d-a08e-5abcbd18ab1a",
      "credentials": {
        "telegramApi": {
          "id": "52YRCPfHBb0kld4l",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cebb7899-e0b8-4afe-8e9e-e9bdfe7ccc55",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e3017cc8b233b41930cd364566b3a02d060049a218f025ca2ca92b97ff5f775"
  },
  "id": "SFgyuzmx63xkS3U7",
  "tags": []
}