workflows/workflow-1-telegram.json
{
  "name": "workflow-1-telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "4af65132-28a4-45ad-b6d9-798285de490f",
      "name": "Telegram Trigger",
      "webhookId": "43fd976f-232d-4985-bdf3-d9dcf1afd038",
      "credentials": {
        "telegramApi": {
          "id": "52YRCPfHBb0kld4l",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output[0].content[0].text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        0
      ],
      "id": "5a495e11-40df-4f76-853f-047b077cf8ed",
      "name": "Send a text message",
      "webhookId": "0afec23e-f17c-4a97-9629-59a5e6e98111",
      "credentials": {
        "telegramApi": {
          "id": "52YRCPfHBb0kld4l",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama-3.1-8b-instant",
          "mode": "list",
          "cachedResultName": "LLAMA-3.1-8B-INSTANT"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.message.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "store": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "5b10dcb4-c3e4-46e4-be71-c40e80bed001",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "GzCpIDApf8IOLeJh",
          "name": "groq"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2c0f1935-06a4-43f4-b6de-f439d811e6ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e3017cc8b233b41930cd364566b3a02d060049a218f025ca2ca92b97ff5f775"
  },
  "id": "l6x8CvbSB1HYpGke",
  "tags": []
}