workflows/workflow-2-webapp.json
{
  "name": "workflow-2-webapp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f05784b4-99f9-4a24-9977-8719ea35fdd8",
      "name": "Webhook",
      "webhookId": "5049d799-68d0-4f5c-99a2-c5531a2c038e"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $json.output[0].content[0].text } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        0
      ],
      "id": "40174674-b268-42d9-9dcf-a18b766db0c4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama-3.1-8b-instant",
          "mode": "list",
          "cachedResultName": "LLAMA-3.1-8B-INSTANT"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.body.message }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "store": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "29de8cd7-e094-4c99-b884-ea71751402a4",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "GzCpIDApf8IOLeJh",
          "name": "groq"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5fd46632-70f1-44de-a1fa-4999ef9525d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e3017cc8b233b41930cd364566b3a02d060049a218f025ca2ca92b97ff5f775"
  },
  "id": "sAsaBHgWqf4CRPhg",
  "tags": []
}